<!DOCTYPE html>
<html>
  <head>
    <title><%=@my_title %></title>
    <%= csrf_meta_tags %>

    <META name="keywords" content="<%=@seo_keyword %>"/>

    https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= source_helper("Application") %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%=render 'shared/nav', location: 'top' %>

    <%= login_helper %>

    <%= yield %>

  </body>

</html>