<!DOCTYPE html>
<html>
  <head>
    <title><%=@my_title %></title>
    <%= csrf_meta_tags %>

    <META name="keywords" content="<%=@seo_keyword %>"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%if session[:source] %>
      <h1>Thank you for visiting me through <%=session[:source] %></h1>
    <%end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%=render 'shared/nav', location: 'top' %>

    <%= login_helper %>

    <%= yield %>

  </body>

</html>